.sc-intro{
    position: relative;
    height: 200vh;
    margin-bottom: -100vh;
}
.sc-intro .sticky{
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
} 
.sc-intro .title{
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    z-index: 3;
    width: 100%;
    height: 100vh;
    padding-bottom: 3rem;
    /* cursor: pointer; */
}
.sc-intro .title .text{
    overflow: hidden;
}
.sc-intro .iitalic{
    overflow: hidden;
    font-family: var(--font-ko);
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: normal;
}
.sc-intro h2{
    font-size: 7vw;
}
.sc-intro h2 span{
    display: block;
    font-family: var(--font-italic);
    font-size: 10vw;

}
.sc-intro .video{
    position: absolute;
    top: 0;left: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
}
.sc-intro .video video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sc-intro .line-wrap{
    overflow: hidden;
}
.sc-about{
    position: relative;
    z-index: 10;
    padding: 60px 20px;
    background-color: #1a1a1a;
}
.sc-about .title{}
.sc-about .text{
    font-family: var(--font-sm);
    /* width: 75%; */
    font-size: 30px;
    line-height: 1.8;
}
.sc-about .text span{
    padding: 2px 10px;
    border: 1px solid #fff;
    border-radius: 10px;
}

.sc-project{
    position: relative;
    z-index: 4;
    padding-top: 4rem;
    background-color: #1a1a1a;
}
.sc-project .sticky{
    position: relative;
    height: 900vh;
}
.sc-project .project{
    position: sticky;
    top: 0;
    height: 100vh;
    transform-origin: center center;
}

.sc-project .cont-wrap{
    position: relative;
}
.sc-project .text-area{
    display: flex;
    gap: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    width: 50%;
    transform: translate(-50%, -50%);
}
.sc-project .text-area .name{
    font-size: 4rem;
    text-align: center;
}
.sc-project .link-list{
    display: flex;
    gap: 20px;
}
.sc-project .link-item a{
}
.sc-project .text-area .desc{
    font-family: var(--font-ko);
    line-height: 1.3;
    text-align: center;
}
.sc-project .video{
    width: 100%;
    height: 100vh;
}
.sc-project .video video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width:1280px){}
@media (max-width:1068px){
     .sc-project .text-area{
        width: 80%;
    }
}
@media (max-width:768px){
    .sc-project .text-area .name{
        font-size: 2.5rem;
    }
    .sc-project .link-item a{
        font-size: 14px;
    }
    .sc-project .tag-list{
        font-size: 14px;
    }
    .sc-project .text-area .desc{
    font-size: 15px;
}
}